header{
    width: 1350px;
    height: 150px;
    background-color:white;
    border-radius: 50px;
    margin-left: 270px;
    display: flex;
    align-items: center;
}
body{
background-color: lavender;
}
.fon{
    position: relative;
    width: 1350px;
    height: 550px;

}
.tex{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: orange;
    font-size: 25px;
    text-align: center;
    font-family: Bahnschrift;
}


.zx{
    width: 200px;
    height: 130px;
    margin-left: 50px;
    margin-top: 10px ;
}
.xcx{

}
.xcxx{
    width: 1350px;
    height: 500px;
    background-color: white;
    border-radius: 50px;
    margin: auto;
}
.conteiner{

}

.is{
    padding:  50px ;
    font-family: Bahnschrift;

}


.is:hover{
    color: orange;
    cursor:  pointer;
}
.zxz{
    width: 600px;
    height: 400px;
    background-color: black;
    border-radius: 50px;
    margin-left: 650px;
    margin-top: -425px;
}
.uz{
   color: white;
    font-family: Bahnschrift;
    padding: 150px;
    font-size: 30px;
}
.uz:hover{
    color: orange;
    cursor:  pointer;
}

ul{
    display: flex;
    list-style: none;

}

li{
    margin-right: 30px;
    text-decoration: none;
}
ul a{
    text-decoration: none;
    font-family: Bahnschrift;
    color: orange;
    font-size: 16px;
}
a:hover{
   color: grey;
}


.novo{
    width: 1350px;
    height: 160px;
    background-color: black;
    border-radius: 50px;
    margin: auto;
    margin-top: 50px;
}

.c{
    width: 50px;
}
.con{
    margin-left: 30px;

}
.novo a{
    text-decoration: none;
    font-family: Bahnschrift;
    font-size: 16px;
    color: white;
    margin-top: -50px;

}
.novo a:hover{
    color: orange;
}
.xx{
    cursor: pointer;
}

.nnn{
    margin-left: 50px;
    margin-top: -30px;

}

.info{
    margin-left: 700px;
    margin-top: -60px;
}